<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4 class="about-header">About</h4>
    <p class="about-body"><em></em> This blog will feature various topics related to to my experience in the web development industry. If you have any questions, feedback or requests please let me know. I would love to hear from you.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/brettlorsch"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/brett-lorscheider-38775493/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.facebook.com/Brett-LorscheiderWeb-Developer-1735307123157168/"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div>
